<aside class="adminCard" *ngIf="open">
  <ul class="options">
    <li (click)="open=false" id="cross">&#10060;</li>
    <li><img src="../../../assets/adminHover/paint.png">Style Editor</li>
    <li><img src="../../../assets/adminHover/setting.png">Item Properties</li>
    <li><img src="../../../assets/adminHover/interaction.png">Interaction Properties</li>
    <li><img src="../../../assets/adminHover/response.png">Response Properties</li>
  </ul>
</aside>


<!-- Test Taker screens -->
<aside class="testaker" *ngIf="testmakeropen">
  <div class="headingele">
    <div class="heading">TEST TAKER TOOLS </div>
    <img src="../../../assets/cross.png" alt="cross" class="cross" (click)="testmakeropen=false"/>
  </div>

  <div class="toggle-1">
  <div class="toggle">
  <div class="bodyele">
    <ul>
      <li>
        <input type="checkbox" class="checkbox">
        <span>Answer Eliminator</span>
      </li>

      <li>
        <input type="checkbox" class="checkbox">
        <span>Answer Masking</span>
      </li>

      <li>
        <input type="checkbox" class="checkbox">
        <span>Area Masking</span>
      </li>

      <li>
        <input type="checkbox" class="checkbox">
        <span>Calculator</span>
      </li>

      <li>
        <input type="checkbox" class="checkbox">
        <span>Calculator BODMAS</span>
      </li>

      <li>
        <input type="checkbox" class="checkbox">
        <span>Scientific Calculator</span>
      </li>

      <li>
        <input type="checkbox" class="checkbox">
        <span>Highlighter</span>
      </li>

      <li>
        <input type="checkbox" class="checkbox">
        <span>Line Reader</span>
      </li>

      <li>
        <input type="checkbox" class="checkbox">
        <span>Magnifier</span>
      </li>

      <li>
        <input type="checkbox" class="checkbox">
        <span>Zoom</span>
      </li>

      <li>
        <input type="checkbox" class="checkbox">
        <span>APIP Text to Speech</span>
      </li>
    </ul>
  </div>
  </div>
  </div>
</aside>

<!-- Test Navigator -->
<aside class="testnav" *ngIf="testnav">
  <div class="headingele1">
    <div class="heading1">TEST NAVIGATOR</div>
    <img src="../../../assets/cross.png" alt="cross" class="cross" (click)="testnav=false"/>
  </div>

  <div class="togglenew">
    <div class="bodyele">
      <ul>
        <li>
          <input type="checkbox" class="checkbox">
          <span>Enable Review Screen</span>
        </li>
  
        <li>
          <input type="checkbox" class="checkbox">
          <span>Enable Mark for Review</span>
        </li>
  
        <li>
          <input type="checkbox" class="checkbox">
          <span>Information item usage</span>
        </li>
      </ul>
    </div>
  </div>
</aside>

<!-- Admin Hovercard -->
<aside class="hovercard" *ngIf="hovercard">
  <div class="section1">
    <div class="bodyele2">
      <ul>
        <li>
          <img src="../../../assets/redcross.png" alt="cross" class="cross1" (click)="hovercard=false"/>
        </li>
        <li class="item2">
          <img src="../../../assets/adminHover/setting.png" alt="setting" id="img1">
          <span>Item Properties</span>
        </li>

        <li class="item3"  (click)="testnavi()">
          <img src="../../../assets/adminHover/arrow-down.png" alt="setting" id="img2">
          <span>Test Navigator</span>
        </li>

        <li class="item4" (click)="naviwarning()">
          <img src="../../../assets/adminHover/anchor1.png" alt="setting" id="img3">
          <span>Navigator Warnings</span>
        </li>

        <li class="item5" (click)="testtaker()">
          <img src="../../../assets/adminHover/briefcase1.png" alt="setting" id="img4">
          <span>Test Taker Tools</span>
        </li>

        <li class="item6" (click)="select()">
          <img src="../../../assets/adminHover/arrow-pointer1.png" alt="setting" id="img5">
          <span>Selection</span>
        </li>

        <li class="item7" (click)="order()">
          <img src="../../../assets/adminHover/align-center1.png" alt="setting" id="img6">
          <span>Ordering</span>
        </li>

        <li class="item8" (click)="sessioncontrol()">
          <img src="../../../assets/adminHover/stopwatch1.png" alt="setting" id="img7">
          <span>Item Session Control</span>
        </li>

        <li class="item9" (click)="timelim()">
          <img src="../../../assets/adminHover/clock1.png" alt="setting" id="img8">
          <span>Time Limits</span>
        </li>
      </ul>
    </div>
  </div>
</aside>

<!-- Navigator Warnings -->
<aside class="navwarning" *ngIf="navwarning">
  <div class="headingele2">
    <div class="heading2">
      NAVIGATION WARNINGS
    </div>
    <img src="../../../assets/cross.png" alt="cross" class="cross" (click)="navwarning=false"/>
  </div>

  <div class="togglenew1">
    <div class="bodyele">
      <ul>
        <li>
          <input type="checkbox" class="checkbox">
          <span>Display End Test Warning</span>
        </li>
  
        <li>
          <input type="checkbox" class="checkbox">
          <span>Display Next Part Warning</span>
        </li>
  
        <li>
          <input type="checkbox" class="checkbox">
          <span>Display Next Section Warning</span>
        </li>
  
        <li>
          <input type="checkbox" class="checkbox">
          <span>Hide Timed Section Warning</span>
        </li>
  
        <li>
          <input type="checkbox" class="checkbox">
          <span>Display Unanswered Warning</span>
        </li>
  
        <li>
          <input type="checkbox" class="checkbox">
          <span>Do not show alert on timeout</span>
        </li>
      </ul>
    </div>
    </div>
</aside>

<!-- Ordering -->
<aside class="ordering" *ngIf="ordering">
  <div class="sec3">
    <div class="heading3">ORDERING</div>
    <img src="../../../assets/cross.png" alt="cross" class="cross" (click)="ordering=false"/>
  </div>

  <div class="bodyele4">
    <ul>
      <li>
        <span>Shuffle</span>
        <input type="checkbox" class="checkbox1">
      </li>
    </ul>
  </div>
</aside>

<!-- Item Session Control -->
<aside class="itemsession" *ngIf="itemsession">
  <div class="headingeleitem">
    <div class="headingitem">ITEM SESSION CONTROL</div>
    <img src="../../../assets/cross.png" alt="cross" class="crossitem" (click)="itemsession=false"/>
  </div>

  <div class="togglenewitem">
  <div class="bodyeleitem">
    <ul>
      <li>
        <span>Max Attempts</span>
        <input type="number" class="number">
      </li>
      <li>
        <span>Show Feedback</span>
        <input type="checkbox" class="checkboxitem1">
      </li>
      <li>
        <span>Allow Comment</span>
        <input type="checkbox" class="checkboxitem2">
      </li>
      <li>
        <span>Allow Skipping</span>
        <input type="checkbox" class="checkboxitem3">
      </li>
      <li>
        <span>Validate Response</span>
        <input type="checkbox" class="checkboxitem4">
      </li>
    </ul>
  </div>
</div>
</aside>

<!-- Time Limits -->
<aside class="timelimit" *ngIf="timelimit">
  <div class="sec4">
    <div class="heading4">TIME LIMITS</div>
    <img src="../../../assets/cross.png" alt="cross" class="cross" (click)="timelimit=false"/>
  </div>

  <div class="toggletimelimit">
  <div class="bodyele5">
    <ul>
      <li>
        <span>Max Attempts :</span>
      </li>
      <li class="joinnumbers">
        <input type="number" class="number1"> :
        <input type="number" class="number2"> :
        <input type="number" class="number3">
      </li>
      <li>
        <span>Data Submission Allowed: </span>
      </li>
      <li>
        <input type="checkbox" class="checkbox2">
      </li>
    </ul>
  </div>
</div>
</aside>

<!-- Selection -->
<aside class="selection" *ngIf="selection">
  <div class="sec5">
    <div class="heading5">SELECTION</div>
    <img src="../../../assets/cross.png" alt="cross" class="crossselection" (click)="selection=false"/>
  </div>

  <div class="togglenew">
  <div class="bodyele6">
    <ul>
      <li>
        <span>Enable Selection</span>
        <input type="checkbox" class="checkbox3">
      </li>
      <li>
        <span>Select</span>
        <input type="number" class="number4">
      </li>
      <li>
        <span>With Replacement</span>
        <input type="checkbox" class="checkbox4">
      </li>
    </ul>
  </div>
  </div>
</aside>

<!-- Item Properties -->
<aside class="itemproperties" *ngIf="itemprop">
  <div class="sec6">
    <div class="headingitemprop">
      <div class="headingitem1">ITEM PROPERTIES</div>
      <img src="../../../assets/cross.png" alt="cross" class="crossselection" (click)="itemprop=false"/>
    </div>
  </div>

  <div class="togglenew2">
  <div class="bodyeleitemprop">
    <ul>
      <li>
        <span class="itembold">Identifier: </span>
        <br/>
        <span>assessmentSection1</span>
      </li>

      <li>
        <span class="itembold">Title: </span>
        <br/>
        <span>Section1</span>
      </li>

      <li>
        <span>Invisible</span>
        <input type="checkbox" class="checkbox5">
      </li>

      <li>
        <span>Keep together</span>
        <input type="checkbox" class="checkbox6">
      </li>

      <li>
        <span class="itembold">Categories: </span>
        <br/>
        <span>English</span>
      </li>
    </ul>
  </div>
</div>
</aside>

<!-- Item properties -->
<aside class="itemprope" *ngIf="itemprope">
  <div class="sec7">
    <img src="../../../assets/redcross.png" class="crossred" (click)="itemprope=false"/>
  </div>

  <div class="bodyele7">
    <ul>
      <li (click)="itempropclick()">
        <img src="../../../assets/adminHover/setting.png" alt="setting" id="img11"/>
        <span>Item Properties</span>
      </li>
      <li (click)="timelimitclick()">
        <img src="../../../assets/adminHover/clock1.png" alt="setting" id="img12"/>
        <span>Time Limits</span>
      </li>
      <li (click)="score()">
        <img src="../../../assets/adminHover/pencil.png" alt="setting" id="img13"/>
        <span>Scoring</span>
      </li>
      <li (click)="outcomedec()">
        <img src="../../../assets/adminHover/xmarks.png" alt="setting" id="img14"/>
        <span>Outcome Declaration</span>
      </li>
    </ul>
  </div>
</aside>

<!-- Item Properties (Frame 428) -->
<aside class="itemprop2" *ngIf="itemprop2">
  <div class="sec8">
    <div class="heading8">ITEM PROPERTIES</div>
  </div>
  <div class="bodytoggle8">
  <div class="bodyele8">
    <ul>
      <li>
        <span class="bold">Identifier:</span>
        <br/>
        <input type="text">
      </li>

      <li>
        <span class="bold">Title:</span>
        <br/>
        <span>Item 12</span>
        <p>
          <input type="checkbox" class="checkbox">
          <span>Time dependent</span>
        </p>
        <p>
          <span class="bold">Language:</span>
          <br/>
          <span>English</span>
        </p>
      </li>
    </ul>
  </div>
</div>
</aside>

<!-- Scoring -->
<aside class="scoring" *ngIf="scoring">
  <div class="sec9">
    <div class="heading9">SCORING</div>
  </div>

  <div class="togglescoring">
  <div class="bodyele9">
    <span class="bold">Outcome processing</span>
    <br/>
    <input type="text" value="None">
  </div>
   <br/><br/>
  <div class="alertsec">
    <div class="right">
      <span class="i-circle">i</span>
      No outcome scoring. Category opinion is set, the score will also be processed per
    </div>
  </div>
  </div>
</aside>

<!-- Outcome declaration -->
<aside class="outcomedeclare" *ngIf="outcome">
  <div class="sec10">
    <div class="heading10">
      OUTCOME DECLARATION
      <img src="../../../assets/cross.png" alt="cross" class="cross" (click)="outcome=false"/>
    </div>
  </div>

  <div class="toggleoutcome">
    <div class="regenerate">
      <img src="../../../assets/rotate.png" alt="regenerate" class="refresh"/>
      <span>REGENERATE</span>
    </div>
  <div class="bodyele10">
    <div class="jointele">
      <div class="ele1">
        Identifier
      </div>
      <div class="ele2">
        Type
      </div>
      <div class="ele3">
        Coordinality
      </div>
    </div>

    <div class="subsection">
      no outcome declaration found
    </div>
  </div>
  </div>
</aside>

<!-- Admin Hover Card (3 items) -->
<aside class="itemprope" *ngIf="itempropeadmin">
  <div class="sec7">
    <img src="../../../assets/redcross.png" class="crossred" (click)="itempropeadmin=false"/>
  </div>

  <div class="bodyele7">
    <ul>
      <li (click)="itempropclick1()">
        <img src="../../../assets/adminHover/setting.png" alt="setting" id="img15"/>
        <span>Item Properties</span>
      </li>
      <li (click)="itemsessioncontr()">
        <img src="../../../assets/adminHover/stopwatch1.png" alt="setting" id="img16"/>
        <span>Item Session Control</span>
      </li>
      <li (click)="timelimi()">
        <img src="../../../assets/adminHover/clock1.png" alt="setting" id="img17"/>
        <span>Time Limits</span>
      </li>
    </ul>
  </div>
</aside>

<!-- Item properties (Frame 208) -->
<aside class="itemprop8" *ngIf="itemprop8">
  <div class="sec8">
    <div class="heading8">ITEM PROPERTIES</div>
    <img src="../../../assets/cross.png" alt="cross" class="crossitemprop" (click)="itemprop8=false"/>
  </div>

  <div class="toggle8">
  <div class="bodyele8">
    <ul>
      <li>
        <span class="bold">Identifier: </span>
        <br/>
        <span>TestPart-1</span>
      </li>

      <li>
        <span class="bold">Navigation: </span>
        <br/>
        <input type="radio"name="navigation" value="Linear" class="radio">
        <label for="linear">Linear</label><br>
        <input type="radio" name="navigation" value="Non Linear" class="radio">
        <label for="non-linear">Non Linear</label><br>
      </li>

      <li>
        <span class="bold">Navigation: </span>
        <br/>
        <input type="radio" name="nav" value="Individual" class="radio">
        <label for="Individual">Individual</label><br>
        <input type="radio"name="nav" value="Simultaneous" class="radio">
        <label for="Simultaneous">Simultaneous</label><br>
      </li>
    </ul>
  </div>
  </div>
</aside>

<!-- Frame 543 -->
<aside class="frame543" *ngIf="smallcomp">
  <div class="smallcomp">
    <ul>
      <li>None</li>
      <li>Custom</li>
      <li>Total Score</li>
      <li>Cut Score</li>
    </ul>
  </div>
</aside>

<!--  Time Limits (Frame 545) -->
<aside class="frame545" *ngIf="frame545">
  <div class="sec10">
    <div class="heading10">TIME LIMITS</div>
    <img src="../../../assets/cross.png" alt="cross" class="timecross" (click)="frame545=false"/>
  </div>

  <div class="togglescoring">
  <div class="bodyele10">
    <ul>
      <li>Max duration
        <input type="number" class="number">
        <input type="number" class="number">
        <br/><br/>
        <input type="number" class="numberbodyele">
      </li>

      <li>
        <span>Late Submission <input type="checkbox" class="checkboxitem1">
          <br> allowed</span>
      </li>
    </ul>
  </div>
</div>
</aside>

