@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

ul {
  list-style: none;
  background-color: white;
  width: 100%;
  padding: 0;
  margin: 0;
}

ul li {
  font-size: 1.2em;
  padding: 0.4rem 0.2rem 0.4rem 0.2rem;
  border-bottom: 1px solid black;
}

ul li img {
  width: 1rem;
  margin-right: 1em;
}

.options li:nth-child(4) {
  background-color: var(--clr-dark);
  color: white;
}


#cross {
  color: red;
  text-align: right;
  cursor: pointer;
}

/* Test Taker component */

.cross{
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  right:13px;
}

.headingele{
  display: flex;
  flex-direction: row;
  align-items: center;
padding: 10px 10px 10px 24px;
gap: 10px;
position: absolute;
width: 357px;
height: 50px;
left: 0px;
top: 0px;
background: #0C747E;
}

.heading{
width: 295px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 1;
}

.testtaker ul li {
  border-bottom: none;
}

.toggle{
  position: relative;
  top: 15px;
  max-height: 300px;
  /* width: 220px; */
  overflow-y: scroll;  
}

/* width */
.toggle::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
.toggle::-webkit-scrollbar-thumb {
  background: #83C5BE; 
  border-radius: 50px;
}
/* Handle on hover */
.toggle::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.bodyele{
  margin-left: 30px;
  width: 310px;
}

.checkbox{
  margin-right: 30px;
}

.checkbox:checked{
  background-color: #03311b;
}

/* Test Navigator */
.headingele1{
  display: flex;
flex-direction: row;
align-items: center;
padding: 10px 10px 10px 24px;
gap: 10px;
position: absolute;
width: 357px;
height: 50px;
left: 0px;
top: 0px;
background: #0C747E;
}

.heading1{
  width: 295px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 1;
}

.togglenew{
  position: relative;
  top: 15px;
  max-height: 120px;
  /* width: 220px; */
  overflow-y: scroll;  
}

/* width */
.togglenew::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
.togglenew::-webkit-scrollbar-thumb {
  background: #83C5BE; 
  border-radius: 50px;
}
/* Handle on hover */
.togglenew::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/* Admin Hovercard */
.section1{
  position: relative;
width: 258px;
height: 558px;
background: #FFFFFF;
border-radius: 0px 0px 8px 8px;
border-color: #87a9ad;
}

.cross1{
  position: relative;
  left: 220px;
  width: 30px;
  height: 28px;
  cursor: pointer;
}

.item2:hover,.item3:hover,.item4:hover,.item5:hover,.item6:hover,.item7:hover,.item8:hover,.item9:hover{
  background-color: #0C747E;
  color: white;
  cursor: pointer;
}

/* Navigation warnings */
.headingele2{
  display: flex;
flex-direction: row;
align-items: center;
padding: 10px 10px 10px 24px;
gap: 10px;
position: absolute;
width: 357px;
height: 50px;
left: 0px;
top: 0px;
background: #0C747E;
}

.heading2{
  width: 295px;
height: 30px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 1;
}

.navwarning ul li{
  border-bottom: none;
}

.togglenew1{
  position: relative;
  top: 15px;
  max-height: 220px;
  /* width: 220px; */
  overflow-y: scroll;  
}

/* width */
.togglenew1::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
.togglenew1::-webkit-scrollbar-thumb {
  background: #83C5BE; 
  border-radius: 50px;
}
/* Handle on hover */
.togglenew1::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Ordering */
.sec3{
  display: flex;
flex-direction: row;
align-items: center;
padding: 10px 10px 10px 24px;
gap: 10px;
position: absolute;
width: 300px;
height: 43px;
left: 0px;
top: 0px;
background: #0C747E;
}

.heading3{
  width: 238px;
height: 23px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 1;
}

.checkbox1{
  margin-left: 120px;
}

.bodyele4{
  margin-left: 30px;
  width: 250px;
}

/* Item Session Control */
.headingeleitem{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px 10px 24px;
  gap: 10px;
  position: absolute;
  width: 300px;
  height: 43px;
  left: 0px;
  top: 0px;
  background: #0C747E;
}

.headingitem{
width: 238px;
height: 23px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 1;
}

.crossitem{
  width: 18px;
height: 18px;
flex: none;
order: 1;
flex-grow: 0;
cursor: pointer;
}

.itemsession ul li{
  border-bottom: none;
}

.number{
  width: 50px;
  margin-left: 60px;
}

.checkboxitem1{
  position: relative;
  left: 60px;
}

.checkboxitem2{
  position: relative;
  left: 58px;
}

.checkboxitem3{
  position: relative;
  left: 68px;
}

.checkboxitem4{
  position: relative;
  left: 35px;
}

.togglenewitem{
  position: relative;
  top: 15px;
  max-height: 200px;
  /* width: 220px; */
  overflow-y: scroll;  
}

/* width */
.togglenewitem::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
.togglenewitem::-webkit-scrollbar-thumb {
  background: #83C5BE; 
  border-radius: 50px;
}
/* Handle on hover */
.togglenewitem::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.bodyeleitem{
  margin-left: 30px;
  width: 260px;
}

/* Timelimits */
.sec4{
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 10px 10px 24px;
gap: 10px;
position: absolute;
width: 300px;
height: 43px;
left: 0px;
top: 0px;
background: #0C747E;
}

.heading4{
  width: 238px;
height: 23px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 1;
}

.number1,.number2,.number3{
  width: 50px;
}

.timelimit ul li{
  border-bottom: none;
}

.toggletimelimit{
  position: relative;
  top: 15px;
  max-height: 160px;
  /* width: 220px; */
  overflow-y: scroll;  
}

/* width */
.toggletimelimit::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
.toggletimelimit::-webkit-scrollbar-thumb {
  background: #83C5BE; 
  border-radius: 50px;
}
/* Handle on hover */
.toggletimelimit::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.bodyele5{
  margin-left: 30px;
  width: 260px;
}

/* Selection */
.sec5{
  display: flex;
flex-direction: row;
align-items: center;
padding: 10px 10px 10px 24px;
gap: 10px;
position: absolute;
width: 300px;
height: 43px;
left: 0px;
top: 0px;
background: #0C747E;
}

.heading5{
width: 238px;
height: 23px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 1;
}

.crossselection{
width: 18px;
height: 18px;
flex: none;
order: 1;
flex-grow: 0;
cursor: pointer;
}

.selection ul li{
  border-bottom: none;
}

.checkbox3{
  position: relative;
  left: 60px;
}

.number4{
  width: 50px;
  position: relative;
  left: 130px;
}

.bodyele6{
  width: 260px;
  margin-left: 30px;
}

.checkbox4{
  position: relative;
  left: 45px;
}

/* Item Properties */
.headingitemprop{
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 10px 10px 24px;
gap: 10px;
position: absolute;
width: 300px;
height: 43px;
left: 0px;
top: 0px;
background: #0C747E;
}

.headingitem1{
width: 238px;
height: 23px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 1;
}

.itemproperties ul li{
  border-bottom: none;
}

.itembold{
  font-weight: 600;
}

.togglenew2{
  position: relative;
  top: 15px;
  max-height: 280px;
  overflow-y: scroll;  
}

/* width */
.togglenew2::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
.togglenew2::-webkit-scrollbar-thumb {
  background: #83C5BE; 
  border-radius: 50px;
}
/* Handle on hover */
.togglenew2::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.bodyeleitemprop{
  margin-left: 30px;
  width: 260px;
}

.checkbox5{
  position: relative;
  left: 100px;
}

.checkbox6{
  position: relative;
  left: 50px;
}

/* Item prop */
.itemprope{
  width: 258px;
  height: 306px;
  position: relative;
  top: 20px;
}

.crossred{
position: relative;
width: 22.27px;
height: 28px;
left: 217px;
bottom: 5px;
cursor: pointer;
}

.itemprope ul li:hover{
  background-color: #0C747E;
  color: #fff;
  cursor: pointer;
}

/* Item properties */
.sec8{
  display: flex;
flex-direction: row;
align-items: center;
padding: 10px 10px 10px 24px;
gap: 10px;
position: absolute;
width: 300px;
height: 43px;
left: 0px;
top: 0px;
background: #0C747E;
}

.bodytoggle8{
  position: relative;
  top: 15px;
  max-height: 240px;
  /* width: 220px; */
  overflow-y: scroll;  
}

/* width */
.bodytoggle8::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
.bodytoggle8::-webkit-scrollbar-thumb {
  background: #83C5BE; 
  border-radius: 50px;
}
/* Handle on hover */
.bodytoggle8::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.bold{
  font-weight: bold;
}

.heading8{
  width: 266px;
height: 23px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 1;
}

.itemprop2{
background: #FFFFFF;
border-radius: 0px 0px 30px 30px;
}

.itemprop2 ul li{
  border-bottom: none;
  width: 290px;
}

/* Scoring */
.i-circle {
  display: inline-block;
  background-color: #0C747E;
  color: #000;
  border-radius: 50%;
  font-size: 22px;
  line-height: 30px; /* set to same size as width, height */
  width: 25px;
  height: 30px;
  text-align: center;
  border-color: #000;
}

.right{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 10px 10px 8px;
gap: 10px;
width: 346px;
height: 84px;
background: #83C5BE;
flex: none;
order: 1;
flex-grow: 0;
}

.sec9{
  display: flex;
flex-direction: row;
align-items: center;
padding: 10px 10px 10px 24px;
gap: 10px;
position: absolute;
width: 381px;
height: 43px;
left: 0px;
top: 0px;
background: #0C747E;
}

.heading9{
  width: 347px;
height: 23px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 1;
}

.togglescoring{
  position: relative;
  top: 15px;
  max-height: 180px;
  /* width: 220px; */
  overflow-y: scroll;  
}

/* width */
.togglescoring::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
.togglescoring::-webkit-scrollbar-thumb {
  background: #83C5BE; 
  border-radius: 50px;
}
/* Handle on hover */
.togglescoring::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.scoring{
  width: 370px;
  margin-left: 30px;
}

/* Outcome declaration */
.sec10{
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 10px 10px 24px;
gap: 10px;
position: absolute;
width: 381px;
height: 43px;
left: 0px;
top: 0px;
background: #0C747E;
}

.heading10{
  width: 319px;
height: 23px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 1;
}

.outcomedeclare{
position: relative;
width: 381px;
height: 301px;
background: #FFFFFF;
border-radius: 0px 0px 30px 30px;
}

.regenerate{
  display: flex;
flex-direction: row;
align-items: center;
padding: 2px 16px;
gap: 10px;
position: absolute;
width: 160px;
height: 36px;
left: 191px;
top: 57px;
background: #0C747E;
border-radius: 16px;
}

.refresh{
  width: 10px;
  height: 15px;
  color: #FFFFFF;
}

.regenerate{
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.ele1{
  box-sizing: border-box;
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 3px 10px;
gap: 10px;
width: 133px;
height: 32px;
background: #83C5BE;
border: 1px solid #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
position: relative;
top: 120px;
color: #fff;
}

.ele2{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 3px 10px;
gap: 10px;
width: 100px;
height: 32px;
background: #83C5BE;
border: 1px solid #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
position: relative;
top: 120px;
color: #fff;
}

.ele3{
  box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 3px 10px;
gap: 10px;
width: 100px;
height: 32px;
background: #83C5BE;
border: 1px solid #FFFFFF;
flex: none;
order: 2;
flex-grow: 0;
position: relative;
top: 120px;
color: #fff;
}

.subsection{
width: 335px;
height: 32px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
position: relative;
top: 122px;
border: 1px solid #3e3c3c;
border-radius: 10px;
padding: 3px;
}

.jointele{
  display: flex;
}








